.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}

.header__title {
  max-width: 720px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: auto 0 0;
}

.header__subtitle {
  max-width: 720px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0;
}

.header__img {
  max-width: 984px;
  height: 615px;
  margin-top: auto;
}
