.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 16px;
    max-width: 1184px;
    height: 442px;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 16px;
        max-width: 720px;
        height: 1104px;
        margin-top: 64px;
    }
}

@media (max-width: 544px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 12px;
        max-width: 480px;
        height: auto;
        margin-top: 38px;
    }
}



